<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HELLO</h1>
    <!-- 
        PARA QUE UN ARCHIVO HTML SE PUEDA CONECTAR A UN SERVIDOR DE SOCKET.IO
    TENEMOS QUE PORTAR LA LIBRERIA DE SOCKET.IO  
-->
    <script src="/socket.io/socket.io.js"></script>
    <!-- PODEMOS CREAR UN ARCHIVO APARTE DONDE VA A IR TODA LA LOGICA -->
    <script src="/js/index.js"></script>
  </body>
</html>
